Source: gnusocial
Section: web
Priority: extra
Maintainer: Bob Mottram (4096 bits) <bob@robotics.uk.to>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.4
Homepage: https://gnu.io/social
Vcs-Git: https://git.gnu.io/gnu/gnu-social.git
Vcs-Browser: https://git.gnu.io/gnu/gnu-social/tree/master

Package: gnusocial
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
         nginx | apache2,
         libjbig0,
         libterm-readkey-perl,
         libtiff5,
         libaio1,
         mariadb-server-10.0,
         php-gettext,
         php-openid,
         php5,
         php5-cli,
         php5-curl,
         php5-gd,
         php-db,
         php-mail,
         php-mail-mimedecode,
         php-http-request2,
         php5-fpm,
         php-auth-sasl,
         php-net-ldap2,
         php-net-smtp,
         php-net-socket,
         php-net-url2,
         php-pear,
         php-validate,
         php5-gmp,
         php5-intl,
         php5-json,
         php5-mysql,
         php5-stomp,
         libmarkdown-php,
         libjs-jquery-cookie,
         libjs-jquery-form,
         libjs-jquery-ui,
         libjs-jquery,
         fonts-font-awesome,
         git,
         curl,
         php-xml-parser,
         libcurl3,
         php-mail-mime,
         libgd3,
         libjpeg62-turbo,
         libxpm4
Suggests: tor
Description: GNU social is a free social networking platform
 It helps people in a community, company or group to exchange short
 status updates, do polls, announce events, or other social
 activities (and you can add more!). Users can choose which people
 to "follow" and receive only their friends' or colleagues' status
 messages. It provides a similar service to sites like Twitter,
 Google+ or Facebook, but is much more awesome.
